div.profile-menubar {
    height: calc(93vh - 2px);
    width: calc(20vw - 2px);
    float: right;
    border: 1px solid #ccc;
    background-color: rgba(150, 150, 150, 0.7);
}

div.profile-menubar > div.profile-menu-item {
    height: 8.5vh;
    margin-bottom: 2vh;
    background-color: rgba(220, 220, 220, 0.7);
    color: black;
    font-family: "iran-sans";
    text-align: center;
    line-height: 8vh;
    font-size: 1.2vw;
}

div.profile-menubar > div.profile-menu-item:last-child {
    margin-bottom: 0;
}

div.profile-menubar > div.profile-menu-item:hover {
    background-color: rgba(220, 220, 220, 1);
    cursor: pointer;
}

div.profile-menubar > div.profile-menu-item.selected {
    background-color: rgba(220, 220, 220, 1);
    color: blueviolet;
}

div.profile-body-container {
    background-image: url("../images/backgrounds/macbook.png");
    background-size: 95% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 90vh;
    float: left;
}

div.profile-body-container > div.profile-container{
    background-image: url("../images/backgrounds/page_background.jpg");
    background-size: 100% 100%;
    width: 56.35vw;
    height: 65vh;
    margin: 13vh auto 0 auto;
    overflow: auto;
}